<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
      
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>
<body>
<h1>My Projects</h1>
<div>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each = "project : ${projectsList}">
			<td><a th:href="'/projects/' + ${project.id}" th:text="${project.name}">...</a></td>
			<td th:text="${project.description}">...</td>
			<td>
			<form method ="POST" th:action="@{/projects/{id}/delete(id=${project.id})}">
					<button type="submit" name="submit" value="value">DELETE</button>
			</form>
			
		</tr>
		</tbody>
	</table>
	
	<h4><a href="/home">Home</a></h4>
	
</div>
</body>
</html>