<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
      
<head>
	<title>TaskManager</title>
</head>

<body>
<h1 th:text="${project.name}"></h1>
<h4 th:text="${project.description}" style="color:gray"></h4>

<div th:if="${members.size() > 0}">
	<h3>Shared with:</h3>
	<ul>
		<li th:each="member : ${members}">
			<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
		</li>
	</ul>
</div>
<h4><a th:href="'/projects/' + ${project.id} +'/tasks'">Tasks</a></h4>
<h4><a th:href="'/projects/' + ${project.id} +'/addTask'">Add Task</a></h4>
<h4><a th:href="'/projects/' + ${project.id} +'/share'">Share</a></h4>

	
<h4><a th:href="'/projects/' + ${project.id} +'/edit'">Edit</a></h4>
<h4><a href="/projects">Back</a></h4>

</body>
</html>