<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
      
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>
<body>
<h1>Shared With Me</h1>
<div>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each = "project : ${projectsList}">
			<td><a th:href="'/visibleProjects/' + ${project.id}" th:text="${project.name}">...</a></td>
			<td th:text="${project.description}">...</td>
		</tr>
		</tbody>
	</table>
	
</div>

<h4><a href="/home">Home</a></h4>
</body>
</html>