<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
      
<head>
	<title>TaskManager</title>
</head>

<body>
<h1 th:text="${task.name}"></h1>
<h4 th:text="${task.description}" style="color:gray"></h4>
<h4><a th:href="'/projects/' + ${project.id} +'/tasks/' +${task.id} + '/edit'">Edit</a></h4>
<h4><a th:href="'/projects/' + ${project.id} +'/tasks/' +${task.id} + '/setUser'">setUser</a></h4>
</body>
</html>