<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
      
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>
<body>
<div>
	<table>
		<thead>
			<tr>
				<th>Tasks</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Description</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${tasks}">
				<td><a th:href="'/projects/' + ${project.id} +'/tasks/' +${task.id}" th:text="${task.name}">...</a></td>
				<td th:text="${task.description}">...</td>
				<td>
				<form method ="POST" th:action="@{/projects/{projectId}/tasks/{taskId}/delete(taskId=${task.id})}">
					<button type="submit" name="submit" value="value">DELETE</button>
				</form>
			</tr>
		</tbody>
	</table>
</div>
	
	<h4><a href="/home">Home</a></h4>
</body>
</html>